.pulsanti
{
    border-radius: 20px;
    margin: 20px;
    padding: 10px 20px;
    border: 2px solid black;
    font-family:'vedrana';
    font-size: 15pt;
    background-color: blue;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}
#DivTesti
{
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: lightblue;
    justify-content: center;
    text-align: center;
    border-radius:20px;
}
.testo
{
    font-family:'vedrana';
    font-size: 15pt;
}
.griglia
{
    display: grid;
    grid-template-columns: repeat(10, 60px);
    gap : 4px;
    background-image: url("./img/SfondoBnavale.png");
    padding: 10px;
    width: 630px;
}
.cella
{
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.wrp1
{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

html, body
{
    margin: 0;
    min-height: 100%;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("./img/SfondoNave.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}